















header{
    background-color: #03971e;
    color: #1297af;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

h1{
    color: #ff0404;
}
main{
    background-color:#fdfdfd;
    color: #025a23;
    max-width: 800px;
    margin: o auto;
    text-align: center;
}

img {
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 4px solid #000000;
    height: 300px;
}